In [2]:
import pandas as pd

###### 1. Import csv file

In [18]:
df=pd.read_csv("https://raw.githubusercontent.com/amberferger/DATA607_Project2/master/Unemployment%20Data.csv")

###### 2. change the name of first column to "Year"

In [20]:
df.rename(columns = {'Unnamed: 0': 'Year'},inplace=True)

###### 3. Delete the first blank row

In [21]:
df=df.drop(0)

###### 4. Convert the year column to integer

In [28]:
df["Year"]=df["Year"].astype(int)

###### 5. Fill the null values with zero.

In [30]:
df=df.fillna(0)

###### 6. Unpivot the data frame

In [34]:
ndf=df.melt(id_vars='Year',var_name='Territory',value_name='UnemploymentRate')

###### 7. Take the most recent 5 years for further analysis

In [36]:
ndf=ndf[(ndf.Year>=2016)]

###### 8. Take the main countries in north and south America

In [44]:
ndf=ndf[ndf.Territory.isin(["United States","Brazil","Canada","Mexico","Argentina"])]

      Year      Territory  UnemploymentRate
56    2016      Argentina          8.467953
57    2017      Argentina          8.344703
58    2018      Argentina          9.232772
59    2019      Argentina          0.000000
266   2016         Brazil         11.281130
267   2017         Brazil         12.764030
268   2018         Brazil         12.257910
269   2019         Brazil          0.000000
296   2016         Canada          6.991667
297   2017         Canada          6.333333
298   2018         Canada          5.825000
299   2019         Canada          5.675000
1586  2016         Mexico          3.882500
1587  2017         Mexico          3.420833
1588  2018         Mexico          3.328333
1589  2019         Mexico          0.000000
2396  2016  United States          4.875000
2397  2017  United States          4.350000
2398  2018  United States          3.891667
2399  2019  United States          3.737500